a {
    text-align: center;
    font-size: large;
    color: rgb(255, 255, 255);
}

ul {
    margin: 10px;
    align-self: center;
}

li {
    margin-left: 10px;
    margin-right: 10px;
}

.navbar-nav {
    .active {
        a {
            background-color: darkgray;
            font-weight: bold !important;
            color: rgb(0, 0, 0) !important;
            font-size: 1.2rem !important;
            transform: scale(1.08);
            transition-duration: 0.3s;      
            border-radius: 5px;
        }
    }
}

#navbar-head {
    width: 100%;
    position: sticky;
  }
  
  .container-fluid {
    width: 100%;
    position: relative;
  }


