<div class="container">
    <div class="row">
        <div class="col-6">
            <h1>The Even Odd Count Project</h1>

            <div class="row">
                <p>This is the information section!</p>
            </div>

            <div class="row">
                <div class="col-1">
                    <img class="mx-auto d-block" [src]=angularLogo alt="No Image" width="50" height="50"/>
                </div>
                <div class="col-1">
                    <img class="mx-auto d-block" [src]=html5Logo alt="No Image" width="50" height="50"/>
                </div>
                <div class="col-1">
                    <img class="mx-auto d-block" [src]=ngBootstrapLogo alt="No Image" width="50" height="50"/>
                </div>
                <div class="col-1">
                    <img class="mx-auto d-block" [src]=scssLogo alt="No Image" width="50" height="50"/>
                </div>
                <div class="col-1">
                    <img class="mx-auto d-block" [src]=typeScriptLogo alt="No Image" width="50" height="50"/>
                </div>
            </div>
            
        </div>
    </div>
</div>
