<div class="container">
    <div class="row">
        <div class="col-6">
            <br>
            <h1>The Even Odd Count Project</h1>
            <hr>
            <div class="row">
                <p>This project was used to showcase databinding, logic, emiters, passing data between components,
                    and displaying certain components based on emited variables. You enter a range of numbers for the program to count through. 
                     numbers display a green message, odd numbers display a red one. Both of these messages are in their respective components 
                     and displayed dynamically.</p>
            </div>

            <div class="row">
                <div class="col-1">
                    <img class="mx-auto d-block" [src]=angularLogo alt="No Image" width="50" height="50"/>
                </div>
                <div class="col-1">
                    <img class="mx-auto d-block" [src]=html5Logo alt="No Image" width="50" height="50"/>
                </div>
                <div class="col-1">
                    <img class="mx-auto d-block" [src]=ngBootstrapLogo alt="No Image" width="50" height="50"/>
                </div>
                <div class="col-1">
                    <img class="mx-auto d-block" [src]=scssLogo alt="No Image" width="50" height="50"/>
                </div>
                <div class="col-1">
                    <img class="mx-auto d-block" [src]=typeScriptLogo alt="No Image" width="50" height="50"/>
                </div>
            </div>
            <hr>
            
        </div>
    </div>
</div>
