<body>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <br>
                <h1 class="text-center">The Even Odd Count Project</h1>
                <hr>
                <div class="row">
                    <p>This project was used to showcase databinding, logic, emiters, passing data between components,
                        and displaying certain components based on emited variables. You enter a range of numbers for the program to count through. 
                            numbers display a green message, odd numbers display a red one. Both of these messages are in their respective components 
                            and displayed dynamically.</p>
                </div>
                <div class="d-flex">
                    <div class="row">
                        <div class="col">
                            <img class="mx-auto" [src]=angularLogo alt="No Image"/>
                        </div>
                        <div class="col">
                            <img class="mx-auto" [src]=html5Logo alt="No Image"/>
                        </div>
                        <div class="col">
                            <img class="mx-auto" [src]=ngBootstrapLogo alt="No Image"/>
                        </div>
                        <div class="col">
                            <img class="mx-auto" [src]=scssLogo alt="No Image"/>
                        </div>
                        <div class="col">
                            <img class="mx-auto" [src]=typeScriptLogo alt="No Image"/>
                        </div>
                    </div>
                </div>
                <hr>   
            </div>
        </div>
    </div>
</body>

